
    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="footer__top">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__top__logo">
                            <a href="/"><img src="img/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__top__social">
                            <a href="https://www.facebook.com/gold.eman.90"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/GoldEman_tech?"><i class="fa fa-twitter"></i></a>
                            <a href="https://discord.gg/NkMM5ZZM"><i class="bi bi-discord"></i></a>
                            <a href="https://instagram.com/goldeman.tech?"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.youtube.com/channel/UCBBkD7O1bIfdxOrvNTcY9FA"><i class="fa fa-youtube-play"></i></a>
                            <a href="https://www.linkedin.com/in/gold-eman-b80aa0230"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__option">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="footer__option__item">
                            <h5>About us</h5>
                            <p>Formed in 2018 by Gold Eman , GoldEman is an experienced Web-App Developer and Mobile-App Developer, full-service
                                for Branding and Digital Marketing Service.</p>
                            <a href="about" class="read__more">Read more <span class="arrow_right"></span></a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-3">
                        <div class="footer__option__item">
                            <h5>Who we are</h5>
                            <ul>
                                <li><a href="goldeman.tech">Team</a></li>
                                <li><a href="https://www.linkedin.com/in/gold-eman-b80aa0230">Careers</a></li>
                                <li><a href="https://wa.me/qr/IW436AZK6S7TG1">Contact us</a></li>
                                <li><a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387190.2798902705!2d-74.25986790365917!3d40.697670067823786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sbd!4v1596152431947!5m2!1sen!2sbd">Locations</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-3">
                        <div class="footer__option__item">
                            <h5>Our work</h5>
                            <ul>
                                <li><a href="#">Web & Mobile App Development</a></li>
                                <li><a href="#">Cooperate Branding</a></li>
                                <li><a href="#">Digital Marketing</a></li>
                                <li><a href="#">Product Design</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="footer__option__item">
                            <h5>Newsletter</h5>
                            <p>Get updates on our latest Tech service improvements and client engagement</p>
                            <form action="blog">
                                <input type="text" placeholder="Email">
                                <button type="submit"><i class="fa fa-send"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p class="footer__copyright__text">Copyright &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            All rights reserved | <a href="https://goldeman.tech" target="_blank">GoldEman</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

   