<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Gold Eman">
    <meta name="keywords" content="Web Developer, Smart Contract, Blockchain Developer, NFT, Product Designer|Manager, Digital Marketing, Ecommerce">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gold Eman</title>
    <link rel="icon"  href="img/favicon.ico?v=1.1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="/"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__nav__option">
                        <nav class="header__nav__menu mobile-menu">
                            <ul>

                                <li id="home" class="active"><a href="/">Home</a></li>
                                <li id="about" class=""><a href="about">About</a></li>
                                <li id="portfolio" class=""><a href="portfolio">Portfolio</a></li>
                                <li id="services" class=""><a href="services">Services</a></li>
                                <li id="contact" class=""><a href="contact">Contact</a></li>
                                
                                <li id="blog" class=""><a href="blog">Blog</a>
                                </li>
                                
                            </ul>
                        </nav>
                        <div class="header__nav__social">
                            <a href="https://www.facebook.com/gold.eman.90"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/GoldEman_tech?"><i class="fa fa-twitter"></i></a>
                            <a href="https://discord.gg/NkMM5ZZM"><i class="bi bi-discord"></i></a>
                            <a href="https://instagram.com/goldeman.tech?"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.youtube.com/channel/UCBBkD7O1bIfdxOrvNTcY9FA"><i class="fa fa-youtube-play"></i></a>
                            <a href="https://www.linkedin.com/in/gold-eman-b80aa0230"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>