<%- include('partials/header') %>
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
            <div class="hero__item set-bg" data-setbg="img/hero/hero-3.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <span>For Web-App & Mobile-App Development </span>
                                <h2><a href="#">Web-App & Mobile-App Portfolio</a></h2>
                                <a href="#" class="primary-btn">See more about me</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__item set-bg" data-setbg="img/hero/hero-2.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <span>For Animations & Video Editing</span>
                                <h2><a href="#">Animations & Video Editing Portfolio</a></h2>
                                <a href="#" class="primary-btn">See more about me</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__item set-bg" data-setbg="img/hero/hero-1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <span>For Branding & Digital Marketing</span>
                                <h2><a href="#">Digital Marketing Portfolio</a></h2>
                                <a href="#" class="primary-btn">See more about me</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Services Section Begin -->
    <section class="services spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="services__title">
                        <div class="section-title">
                            <span><a href="services">Our services</a></span>
                            <h2>What We do?</h2>
                        </div>
                        <p>Expertised digital technology experts are at your disposal to render you varieties of digital world-class services with high performance, customization flexibilities</p>
                        <a href="#" class="primary-btn">View all services</a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="services__item">
                                <div class="services__item__icon">
                                    <i
                                class="fa fa-code"></i>
                                </div>
                                <a href="#"><h4>Web-Application | Mobile-Application | NFT Project</a></h4>
                                <p>I will build a website and mobile application for E-commerce | Block-chain/Smart contract | Blogging | Investment | Entertainment Site | NFT website/Marketplace | Portfolio  Website and Application.
                                    Accessible by IOS and Android
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="services__item">
                                <div class="services__item__icon">
                                    <i class="fa fa-line-chart"></i>
                                </div>
                                <h4><a href="#">Digital Marketing | Organic Promotion</a></h4>
                                <p>Do you need a digital marketer to scale your business and get organic growth and promotions?
                                    Check out my expertised digital marketing service to scale your business and meeting your target audience.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="services__item">
                                <div class="services__item__icon">
                                    <i
                                class="bi bi-boxes"></i>
                                </div>
                                <h4><a href="#">Cooperate Branding | Product Design & Animations</a></h4>
                                <p>I design Cooperate Branding for companies like; logo, letter head, office equipment, clothing, packaging design, logo animations, Business Card, Resume | CV, Banner @goldeman </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="services__item">
                                <div class="services__item__icon">
                                    <i class="fa fa-support"></i>
                                </div>
                                <h4><a href="#">Digital Support & Consultancy</a></h4>
                                <p>Are you in of a career guide to get you a high certified job or having an IT problem? You can get in touch with me @goldeman to help you get solutions to the problem and also get your career to the next level  .</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->

    <!-- Work Section Begin -->
    <section class="work">
        <div class="work__gallery">
            <div class="grid-sizer"></div>
            <div class="work__item wide__item set-bg" data-setbg="img/portfolio/portfolio-1.jpg">
                <a href="https://goldeman-yt.netlify.app" class="link"><i
                        class="fa fa-link"></i></a>
                <div class="work__item__hover">
                    <h4><a href="https://goldeman-yt.netlify.app">Youtube Ads Free</a></h4>
                    <ul>
                        <li>Youtube Videos</li>
                        <li>Ads Free</li>
                    </ul>
                </div>
            </div>
            <div class="work__item small__item set-bg" data-setbg="img/work/work-2.jpg">
                <a href="https://goldeman-crowdfunding.netlify.app" class="link"><i
                        class="fa fa-link"></i></a>
                        <div class="work__item__hover">
                            <a href="https://goldeman-crowdfunding.netlify.app"><h4>Crowd-Funding</h4></a>
                            <ul>
                                <li>Project Raise</li>
                                <li>Funding</li>
                            </ul>
                        </div>
            </div>
            <div class="work__item small__item set-bg" data-setbg="img/work/work-3.jpg">
                <a href="https://goldeman-cryptocurrency-website.netlify.app/" class="link"><i
                        class="fa fa-link"></i></a>
                        <div class="work__item__hover">
                            <h4><a href="https://goldeman-cryptocurrency-website.netlify.app/">Crypto Currency</a></h4>
                            <ul>
                                <li>Crypto Currency </li>
                                <li>Investment Website</li>
                            </ul>
                        </div>
            </div>
            <div class="work__item large__item set-bg" data-setbg="img/work/work-4.jpg">
                <a href="ai-chat-tawny.vercel.app" class="link "><i
                        class="fa fa-link"></i></a>
                <div class="work__item__hover">
                    <h4><a href="ai-chat-tawny.vercel.app">Open AI Chat GPT</a></h4>
                    <ul>
                        <li>AI Chat</li>
                        <li>AI Quick Response</li>
                    </ul>
                </div>
            </div>
            <div class="work__item small__item set-bg" data-setbg="img/work/work-5.jpg">
                <a href="img/work/work-5.jpg" class="link video-popup"><i
                        class="fa fa-link"></i></a>
                        <div class="work__item__hover">
                            <h4><a href="#">YT Videos Ads Free</a></h4>
                            <ul>
                                <li>Youtube Videos</li>
                                <li>Ads Free</li>
                            </ul>
                        </div>
            </div>
            <div class="work__item small__item set-bg" data-setbg="img/work/work-6.jpg">
                <a href="img/work/work-6.jpg" class="link video-popup"><i
                        class="fa fa-link"></i></a>
                        <div class="work__item__hover">
                            <h4><a href="#">YT Videos Ads Free</a></h4>
                            <ul>
                                <li>Youtube Videos</li>
                                <li>Ads Free</li>
                            </ul>
                        </div>
            </div>
            <div class="work__item wide__item set-bg" data-setbg="img/work/work-7.jpg">
                <a href="img/work/work-7.jpg" class="link video-popup"><i
                        class="fa fa-link"></i></a>
                <div class="work__item__hover">
                    <a href="#"><h4>E-commerce Website</h4></a>
                    <ul>
                        <li>eCommerce</li>
                        <li>E-Store</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Work Section End -->

    <!-- Counter Section Begin -->
    <section class="counter">
        <div class="container">
            <div class="counter__content">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter__item">
                            <div class="counter__item__text">
                                <img src="img/icons/ci-1.png" alt="">
                                <h2 class="counter_num">72</h2>
                                <p>Completed Projects</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter__item second__item">
                            <div class="counter__item__text">
                                <img src="img/icons/ci-2.png" alt="">
                                <h2 class="counter_num">120</h2>
                                <p>Happy clients</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter__item third__item">
                            <div class="counter__item__text">
                                <img src="img/icons/ci-3.png" alt="">
                                <h2 class="counter_num">82</h2>
                                <p>Perspective clients</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter__item four__item">
                            <div class="counter__item__text">
                                <img src="img/icons/ci-4.png" alt="">
                                <h2 class="counter_num">88</h2>
                                <p>Completed Projects</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Counter Section End -->

    <!-- Team Section Begin -->
    <section class="team spad set-bg" data-setbg="img/team-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title team__title">
                        <span>Nice to meet</span>
                        <h2>ME</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <!-- <div class="col-lg-3 col-md-6 col-sm-6 p-6">
                    <div class="team__item set-bg" data-setbg="img/team/team-1.jpg">
                        <div class="team__item__text">
                            <h4>GOLD EMAN</h4>
                            <p>Videographer</p>
                            <div class="team__item__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="col-lg-3 col-md-8 col-sm-4 p-0">
                    <div class="team__item team__item--second set-bg" data-setbg="img/team/team-2.jpg">
                        <div class="team__item__text">
                            <h4>Gold Eman</h4>
                            <p>WEB-APP | MOBILE-APP  & BLOCKCHAIN DEVELOPER</p>
                            <div class="team__item__social">
                                <a href="https://www.facebook.com/gold.eman.90"><i class="fa fa-facebook"></i></a>
                                <a href="https://twitter.com/GoldEman_tech?"><i class="fa fa-twitter"></i></a>
                                <a href="https://instagram.com/goldeman.tech?"><i class="fa fa-instagram"></i></a>
                                <a href="https://www.linkedin.com/in/gold-eman-b80aa0230"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                    <div class="team__item team__item--third set-bg" data-setbg="img/team/team-3.jpg">
                        <div class="team__item__text">
                            <h4>AMANDA STONE</h4>
                            <p>Videographer</p>
                            <div class="team__item__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                    <div class="team__item team__item--four set-bg" data-setbg="img/team/team-4.jpg">
                        <div class="team__item__text">
                            <h4>AMANDA STONE</h4>
                            <p>Videographer</p>
                            <div class="team__item__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="col-lg-12 p-0">
                    <div class="team__btn">
                        <a href="#" class="primary-btn">Meet Our Team</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team Section End -->

    <!-- Latest Blog Section Begin -->
    <section class="latest spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title center-title">
                        <span>Our Blog</span>
                        <h2>Blog Update</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                
                <div class="latest__slider owl-carousel"> 
                    <a href="#">
                    <div class="col-lg-4">
                        <div class="blog__item latest__item">
                            <a href="blog-details"><h4>WEB3.0 | NFT | SMART CONTRACT | BLOCK CHAIN </h4></a>
                            <ul>
                                <li>July 10, 2022</li>
                                <li>05 Comment</li>
                            </ul>
                            <p>Creating a Smart Contract for both for NFT & Metaverse platforms with Web-App and Mobile-App supporting Android and IOS and creating NFT Digital Arts on the Marketplace
                                cool WEB3.0 Marketplace...</p>
                            <a href="blog-dtails">Read more <span class="arrow_right"></span></a>
                        </div>
                    </div>
                </a>
                    <div class="col-lg-4">
                        <div class="blog__item latest__item2">
                            <a href="blog-details"><h4>Digital Marketing service with SEO and Map Citations </h4></a>
                            <ul>
                                <li>Jan 21, 2021</li>
                                <li>20 Comment</li>
                            </ul>
                            <p>We help our client with digital marketing promoting their business and connecting them with their target audience giving a buzz to your site traffic and also help you with organic promotion
                                cool marketing features ...</p>
                            <a href="#">Read more <span class="arrow_right"></span></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog__item latest__item3">
                            <h4 href="blog-details">Cooperate Branding and Product Packaging </h4>
                            <ul>
                                <li>JMarch 10, 2020</li>
                                <li>92 Comment</li>
                            </ul>
                            <p>We design cooperate branding which includes logo, office and product design for Companies and Organizations making global awareness with your log and getting you your target audience making your logo speak
                                cool features for Brand awareness...</p>
                            <a href="blog-details">Read more <span class="arrow_right"></span></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog__item latest__item4">
                            <a href="blog-details"></a><h4>Animations  3D Modelling</h4>
                            <ul>
                                <li>Aug 12, 2020</li>
                                <li>100 Comment</li>
                            </ul>
                            <p>We do animations and modelling of 3D characters with top softwares like Blender, Maxon Cinema 4D, After  Effect for videos, Cartoon and characters for PC and Mobile games
                                cool features for animations & 3D model...</p>
                            <a href="blog-details">Read more <span class="arrow_right"></span></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog__item latest__item5">
                            <a href="blog-details"><h4>CV | RESUME High paid job</h4></a>
                            <ul>
                                <li>Jan 03, 2020</li>
                                <li>05 Comment</li>
                            </ul>
                            <p>We will write you an ATS optimized CV to secure you your dream job regardless of the position or Organizations you are seeking job for in any position or Organisation & create a business or project presentation
                               ATS CV and Presentation ...</p>
                            <a href="blog-details">Read more <span class="arrow_right"></span></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog__item latest__item6">
                            <a href="blog-details"><h4>E-Commerce, Real-Estate & Hotel Management</h4></a>
                            <ul>
                                <li>Jan 03, 2020</li>
                                <li>05 Comment</li>
                            </ul>
                            <p>We will create you an Ecommerce website with either the dashboard or API and Real Estate website with map citations to the global world with tracking system and develop investment website with risk management
                                cool E-commerce features...</p>
                            <a href="blog-details">Read more <span class="arrow_right"></span></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog__item latest__item7">
                            <a href="blog-details"><h4>Blogging & Entertainment</h4></a>
                            <ul>
                                <li>Jan 03, 2020</li>
                                <li>05 Comment</li>
                            </ul>
                            <p>I will create a blog for your content and niches along side entertainment for and helping you to generate money through your adsense account monetizing your blog and your entertainment social media applications.
                                cool features Entertainment & Blog...</p>
                            <a href="blog-details">Read more <span class="arrow_right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Blog Section End -->

    <!-- Call To Action Section Begin -->
    <section class="callto spad set-bg" data-setbg="img/callto-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="callto__text">
                        <h2>WHERE IDEAS BECOMES REALITY. INTERACT WITH US TODAY TO OFFER YOU WORLD CLASS SERVICES.</h2>
                        <p>WE ARE AN INBOX AWAY</p>
                        <a href="goldeman.tech@gmail.com">Start your stories</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Call To Action Section End -->

    <%- include('partials/footer') %>

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script>
        document.getElementById('home').classList.add('active')
        document.getElementById('about').classList.remove('active')
        document.getElementById('contact').classList.remove('active')
        document.getElementById('services').classList.remove('active')
        document.getElementById('portfolio').classList.remove('active')
        document.getElementById('blog').classList.remove('active')
    </script>
</body>

</html>