<%- include('partials/header')%>
<!-- Services Section Begin -->
<section class="services-page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services__item">
                    <div class="services__item__icon">
                        <i
                                class="fa fa-code"></i>
                    </div>
                    <a href="#"><h4>Web-Application & Mobile-Application | NFT Project</h4></a>
                    <p>I will build a website and mobile application for E-commerce | Block-chain/Smart contract | Blogging | Investment | Entertainment Site | NFT website/Marketplace | Portfolio  Website and Application.
                        Accessible by IOS and Android.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services__item">
                    <div class="services__item__icon">
                        <i class="fa fa-line-chart"></i>
                    </div>
                    <a href="#"><h4>Digital Marketing & Organic Promotion</h4></a>
                    <p>Do you need a digital marketer to scale your business and get organic growth and promotions?
                        Check out my expertised digital marketing service to scale your business and meeting your target audience.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services__item">
                    <div class="services__item__icon">
                        <i
                                class="bi bi-boxes"></i>
                    </div>
                    <a href="#"><h4>Cooperate Branding | Product Design & Animations</h4></a>
                    <p>I design Cooperate Branding for companies like; logo, letter head, office equipment, clothing, packaging design, logo animations, Business Card, Resume | CV, Banner @goldeman.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services__item">
                    <div class="services__item__icon">
                        <i class="fa fa-support"></i>
                    </div>
                    <a href="#"><h4>Digital Support & Consultancy</h4></a>
                    <p>Are you in of a career guide to get you a high certified job or having an IT problem? You can get in touch with me @goldeman to help you get solutions to the problem and also get your career to the next level</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services__item">
                    <div class="services__item__icon">
                        <img src="img/icons/si-4.png" alt="">
                    </div>
                    <a href="#"><h4>Video Editing</h4></a>
                    <p>Are you in need of a video to promote your Business brands and product you can reach us @goldeman.tech to get you the most quality HD videos that suit your video editing purpose
                        production services can put the finishing touches.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services__item">
                    <div class="services__item__icon">
                        <i class='fa fa-dollar'></i>
                    </div>
                    <a href=""><h4>Trading & Investment</h4></a>
                    <p>We support investment and trading platforms helping businesses and individuals with trading signals with risk management system for their capitals in Forex or Crypto investment platforms  </p>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer') %>

<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>
<script>
    document.getElementById('home').classList.remove('active')
    document.getElementById('about').classList.remove('active')
    document.getElementById('contact').classList.remove('active')
    document.getElementById('services').classList.add('active')
    document.getElementById('portfolio').classList.remove('active')
    document.getElementById('blog').classList.remove('active')
</script>
</body>

</html>